@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table id="dataTable" class="table">
        
    </table>
</div>

<button id="generateData" class="btn btn-primary">Generate Data</button>
<button id="submitData" class="btn btn-success" disabled>Submit</button>

@section scripts {
    <script>
        $(document).ready(function () {
            var data = [];

            function generateRandomData() {
                var names = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
                var genders = [1, 2];
                var hobbies = ['A', 'B', 'C', 'D', 'E'];
                var minAge = 18;
                var maxAge = 40;

                var randomName = generateRandomString(8, names);
                var randomGender = genders[Math.floor(Math.random() * genders.length)];
                var randomHobby = hobbies[Math.floor(Math.random() * hobbies.length)];
                var randomAge = Math.floor(Math.random() * (maxAge - minAge + 1)) + minAge;

                return {
                    Nama: randomName,
                    IdGender: randomGender,
                    IdHobi: randomHobby,
                    Umur: randomAge
                };
            }

            function generateRandomString(length, characters) {
                var result = '';
                var charactersLength = characters.length;

                for (var i = 0; i < length; i++) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }

                return result;
            }

            function renderTable() {
                $('#dataTable').empty();
                var header = '<thead><tr><th>Nama</th><th>Gender</th><th>Hobi</th><th>Umur</th></tr></thead>';
                $('#dataTable').append(header);

                var body = '<tbody>';
                data.forEach(function (item) {
                    body += '<tr><td>' + item.Nama + '</td><td>' + item.IdGender + '</td><td>' + item.IdHobi + '</td><td>' + item.Umur + '</td></tr>';
                });
                body += '</tbody>';
                $('#dataTable').append(body);
            }

            function toggleSubmitButton() {
                if (data.length === 1000) {
                    $('#submitData').prop('disabled', false);
                } else {
                    $('#submitData').prop('disabled', true);
                }
            }

            $('#generateData').on('click', function () {
                for (var i = 0; i < 1000; i++) {
                    data.push(generateRandomData());
                }
                renderTable();
                toggleSubmitButton();
            });

            // Event handler Submit
            $('#submitData').on('click', function () {
                @* var subdata = {
                    personalData: [
                        { Nama: 'sccqQcbf', IdGender: 1, IdHobi: 'E', Umur: 32 },
                        // Add more objects here as needed
                        { Nama: 'anotherName', IdGender: 2, IdHobi: 'A', Umur: 28 }
                    ]
                    }; 
                @* console.log('Data being sent:', data); *@

                // Send data to controller
                $.ajax({
                    url: '/Home/BulkSubmit',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        alert('Data berhasil disimpan!');
                        data = [];
                        renderTable();
                        toggleSubmitButton();
                    },
                    error: function (error) {
                        @* alert(error); *@
                        console.error(error);
                    }
                });
            });
        });
    </script>
}